In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train_E6oV3lV - Original dataset.csv')
test = pd.read_csv('test_tweets_anuFYb8 - Original dataset.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
# Checking Shape of Train and Test sets:
print("Shape of Train set:", train.shape)
print("Shape of Test set:", test.shape)

Shape of Train set: (31962, 3)
Shape of Test set: (17197, 2)

In [4]:
# Removing duplicates of Train set. There are few duplicates in Test set as well,
# however, duplicates of Test set can'b be removed because the final test with label has to be uploaded as a submission

train.drop_duplicates(subset=['tweet'], keep='last', inplace=True)
train.reset_index(inplace=True)
print("Shape of Train set after removing duplicates:", train.shape)

Shape of Train set after removing duplicates: (29530, 4)

In [5]:
train[train['tweet'].map(lambda x: x.isascii())]
test[test['tweet'].map(lambda x: x.isascii())]

# Cleaning tweets
def clean_tweets(text):
    text = re.sub(r'@[A-Za-z0-9_]+','',text)    # Removing @mentions
    text = re.sub(r'#','',text)                 # Removing #tag symbol
    text = re.sub(r'RT[\s]+',' ',text)          # Remvoing RT
    text = re.sub(r'\n','',text) 
    text = re.sub(r',','',text) 
    text = re.sub(r'.[.]+','',text) 
    text = re.sub(r'\w+:\/\/\S+','',text) 
    text = re.sub(r'https?:\/\/\S+','',text)    # Removing hyperlinks
    text = re.sub(r'/',' ',text)
    text = re.sub(r'-',' ',text)
    text = re.sub(r'_',' ',text)
    text = re.sub(r'!','',text)
    text = re.sub(r':',' ',text)
    text = re.sub(r'$','',text)
    text = re.sub(r'%','',text)
    text = re.sub(r'^','',text)
    text = re.sub(r'&','',text)
    text = re.sub(r'=',' ',text)
    text = re.sub(r' +',' ',text)               # Removing extra whitespaces

    return text

# Removing Emojis
def clean_emoji(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

train['tweet'] = train['tweet'].apply(clean_tweets)    # Applying function to clean tweets
train['tweet'] = train['tweet'].apply(clean_emoji)     # Applying function to remove emojis
train['tweet'] = train.tweet.str.lower()               # Making all texts to lower case
train['tweet'] = train['tweet'].str.strip()            # Removing leading and trailing whitespaces

test['tweet'] = test['tweet'].apply(clean_tweets)      # Applying function to clean tweets
test['tweet'] = test['tweet'].apply(clean_emoji)       # Applying function to remove emojis
test['tweet'] = test.tweet.str.lower()                 # Making all texts to lower case
test['tweet'] = test['tweet'].str.strip()              # Removing leading and trailing whitespaces
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_colwidth', -1)

In [6]:
train.head()

   index  id  label                                              tweet
0      0   1      0  when a father is dysfunctional and is so selfi...
1      1   2      0  thanks for lyft credit i can't use cause they ...
2      2   3      0                                bihday your majesty
3      4   5      0                  factsguide society now motivation
4      5   6      0  [2 2] huge fan fare and big talking before the...

In [7]:
test.head()

      id                                              tweet
0  31963  studiolife aislife requires passion dedication...
1  31964  white supremacists want everyone to see the ne...
2  31965  safe ways to heal your acne altwaystoheal heal...
3  31966  is the hp and the cursed child book up for res...
4  31967  3rd bihday to my amazing hilarious nephew eli ...

In [8]:
# Creating CSV files with cleaned data of train and test. That will be used further:
train.to_csv('train_cleaned.csv', index=False)
test.to_csv('test_cleaned.csv', index=False)